body {
    font-family: Montserrat;
    margin:0;
}
.first-container {
    text-align: center;
    margin-top:100px;
}

.brand .title .brand-text {
    color: #DB3022;
    font-size: 28px;
    font-weight: bold;
    margin:10px;
    display: inline-block;
}
.heading {
    margin:30px;
}
.heading .please {
    font-weight:bold;
}
.select-acc .select{
    margin: 10px 0px;
    padding: 12px 30px;
    width:80px;
    border: 1px solid #9B9B9B;
    display: inline-block;
    border-radius:4px;
    cursor: pointer;
}
#customer:target, #seller:target{
    color:white;
    background-color: #DB3022;
}
.submit {
    color: white;
    padding: 15px;
    width: 400px;
    background-color: #DB3022;
    color:white;
    border-radius:50px;
    display: inline-block;
    margin: 15px 0;
}
.form-container {
    margin: 0 25%;
}
input {
    margin: 15px 100px;
    width: 400px;
    border: 1px solid #9B9B9B;
    border-radius: 4px;
    padding: 15px;
    display: inline-block;
}
.already-text {
    margin:30px;
}
.form-container .forgot-pass{
    text-align: right;
    margin: 15px 125px 30px 125px;
}
a {
    color: #DB3022;
    text-decoration:none
}